name: Aarch64

on:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build_wheels:
    name: Build Wheel (${{ matrix.python-tag }}-manylinux_aarch64)
    runs-on: ubuntu-22.04-arm

    strategy:
      fail-fast: false
      matrix:
        python-tag: ["cp312", "cp313"]

    env:
      CONAN_PROFILE: aarch64
      CIBW_BUILD_VERBOSITY: 2

    steps:
      - name: Checkout Code
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          submodules: true

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-tag == 'cp312' && '3.12' || '3.13' }}

      - name: Upgrade pip, wheel, and setuptools
        run: python -m pip install --upgrade pip setuptools wheel

      - name: Install Conan
        run: python -m pip install --upgrade conan

      - name: Create Conan ARM64 profile
        run: |
          mkdir -p ~/.conan2/profiles
          cat > ~/.conan2/profiles/aarch64 <<EOF
          [settings]
          os=Linux
          arch=armv8
          compiler=gcc
          compiler.version=12
          compiler.libcxx=libstdc++11
          build_type=Release
          EOF

      - name: Cache Conan
        uses: actions/cache@v5
        with:
          path: ~/.conan2/p
          key: linux-aarch64-conan-${{ hashFiles('conanfile.py') }}
          restore-keys: |
            linux-aarch64-conan-

      - name: Set up CMake and Ninja
        uses: lukka/get-cmake@latest

      - name: Build wheels
        uses: pypa/cibuildwheel@v3.3.1
        env:
          CIBW_BUILD: ${{ matrix.python-tag }}-manylinux_aarch64
          CIBW_MANYLINUX_AARCH64_IMAGE: manylinux_2_28
          CIBW_ENVIRONMENT_PASS_LINUX: "CONAN_PROFILE"
          CIBW_ENVIRONMENT: >
            CXXFLAGS="-O2 -fPIC"
            CFLAGS="-O2 -fPIC"
            LDFLAGS=""
          CIBW_REPAIR_WHEEL_COMMAND: >
            auditwheel repair --strict -w {dest_dir} {wheel}

      - name: Fix Conan permissions
        run: sudo chown -R $USER:$USER ~/.conan2

      - name: Verify wheels
        run: |
          python -m pip install --upgrade auditwheel
          for whl in wheelhouse/*.whl; do
            auditwheel show "$whl"
          done

      - name: Upload Artifact
        uses: actions/upload-artifact@v6
        with:
          name: endstone-wheels-${{ matrix.python-tag }}-manylinux_aarch64
          path: wheelhouse/*.whl
